$light: #fdeee3;
$purple: #a346cf;
$carrot: #e47537;

$white: #fff;
$green: #077660;
$gray: #9b9b9b;

$main-color: #2b2a29;

$bg-color: #ffffff;
$bg-color-light: #f3f8f7;
$bg-color-alt: #f8f8f8;

$color-akcent: #077660;

$gray-light: #ebebeb;
$gray: #9b9b9b;
$gray-dark: #707070;
